.header.colorChange {
  background: $light-color;
  transition-timing-function: ease-in;
}

.header {
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;

  .header__elements {
    @include get__header(flex, center, space-between, row, wrap);

    .header__links {
      display: flex;
      align-items: center;

      .header__logo {
        margin-right: 30.5px;
        a {
          text-decoration: none;
          svg {
            object-fit: cover;
          }
        }
      }

      ul {
        display: flex;
        align-items: center;
        flex-direction: row;

        li {
          list-style-type: none;

          a {
            color: $dark-gray-color;
            font-size: 17px;
            font-family: $font-productsans;
            font-weight: 600;
            line-height: 1.21;
            letter-spacing: 0.31px;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-right: 15px;
           // position: relative;
            //  opacity: 0.40;
            // transition: 0.3s ease-in;

            &:nth-child(odd) {
              opacity: 0.4;
            }

            &:hover {
              opacity: 1;
            }

            &:focus {
              opacity: 1;
            }

            svg {
              object-fit: contain;
            }
          }

          &:hover {
              .dropdown {
                  opacity: 1;
                  display: block;
                  transition: 0.2s ease-in;
              }
          }
        }
        .dropdown {
            background: #f9fbfc;
            position: absolute;
            display: flex;
            align-items: flex-start;
            flex-flow: wrap;
            width: 200px;
            max-width: 100%;
            min-height: 100%;
            padding: 18px;
            box-shadow: 2px 4px 7.5px 0 rgba(0, 0, 0, 0.16);
            border-radius: 20px;
            //top: 70%;
            display: none;
            border: none;
            transition: 0.2s ease-in;
            z-index: 1;

          li {
            a {
              display: flex;
              align-items: center;
              flex-direction: row;
              padding-bottom: 19px;
              opacity: 1;
              color: $dark-gray-color;
              font-family: $font-productsans;
              font-size: 15px;
              font-weight: 600;
              font-stretch: normal;
              line-height: 1.18;
              letter-spacing: normal;
              opacity: 0.7;

              &:hover {
                  opacity: 1;
                  transition: 0.3s ease-in;

                  .mdi {
                    opacity: 1;
                    transition: 0.3s ease-in;
                    transform: translateX(0px);
                  }
              }

            
              .mdi {
                font-size: 32px;
                color: $dark-gray-color;
                transition: 0.3s ease-in;
                opacity: 0;
                transform: translateX(-25px);
              }
            }
          }
        }
      }
    }

    .header__elements-right {
      display: inline-flex;
      align-items: center;

      .btn.btn-light {
        color: $blue-color;
        font-size: 16px;
        font-family: $font-productsans;
        font-weight: 550;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
      }

      .btn.btn-primary {
        background-image: linear-gradient(to right, #27aee3 -4%, #0fe3f5 119%);
        color: $light-color;
        font-size: 16px;
        font-family: $font-productsans;
        font-weight: 550;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-decoration: none;
        padding-top: 13px;
        padding-left: 55px;
        padding-bottom: 13px;
        padding-right: 55px;
        border-radius: 30px;
        box-shadow: 2px 4px 7.5px 0 rgba(0, 0, 0, 0.16);
        margin-left: 12px;
      }
    }
  }
}
