@font-face {
    src: url("../../assets/fonts/FontsFree-Net-ProductSans-Regular.ttf");
    font-family: "ProductSans-Regular";
}

@font-face {
    src: url("../../assets/fonts/space-grotesk.bold.ttf");
    font-family: "Space-grotesk-bold";
}


@font-face {
    src: url("../../assets/fonts/space-grotesk.regular.otf");
    font-family: "Space-grotesk-regular";
}

@font-face {
    src: url('../../assets/fonts/eclid.ttf');
    font-family: "EuclidCircularA-Regular";
}