//colors
$primary-color: #f5f8f9;
$light-color: #ffffff;
$dark-gray-color: #151616;
$blue-color: #27aee3;

//font size
$font-50: 50px;
$font-9: 9.5px;
$font-12: 12.5px;

//font family
$font-productsans: "ProductSans-Regular";
$font-productsans-bold:  "Space-grotesk-bold";
$font-space-grotesk:  "Space-grotesk-regular";

//container
$max-width-container: 1931px;