.chatting-section {
  padding-top: 3rem;

  .chatting-titles {
    align-items: center;

    div {
      h3 {
        color: $dark-gray-color;
        opacity: 0.5;
        font-family: $font-space-grotesk;
        font-size: 22px;
        line-height: 1.27;
      }
      h2 {
        font-size: 40px;
        font-family: $font-productsans-bold;
      }
    }

    a {
      .mdi {
        color: $dark-gray-color;
        font-size: 45px;
        font-weight: 500;
      }
    }
  }

  .chat-card-parent {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    .chat-card {
      background-color: #f5f8f9;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
      padding-top: 7px;
      padding-left: 36px;
      padding-right: 36px;
      padding-bottom: 35px;
      width: 700px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 450px;
      

      @mixin get_card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .chat-card-header {
        @include get_card-header;

        .chat-card-user {
          display: flex;
          align-items: center;

       .card-chat-user-info{
         padding-left: 1rem;
         h3 {
           color: $dark-gray-color;
           font-family: $font-space-grotesk;
           font-size: 22px;
           span {
             opacity: 0.5;
             font-size: 16px;
           }
         }
         p {
           color: #27aee3;
           font-size: 15px;
           font-family: $font-space-grotesk;
         }
       }

          .chat-card-avatar {

            img {
              background: no-repeat center center /cover;
              width: 70px;
              height: 70px;
              border-radius: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .btn.btn-light {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }


    .chat-card-chatting {
      padding-top: 1rem;
      padding-bottom: 1rem;

      .chat-card-client {
           width: 176px;

        &.right {
          position: relative;
          left: 70%;
        }



        h1 {
             font-size: 16px;
             font-family: $font-productsans;
             font-weight: 500;
             color: $dark-gray-color;
              padding-left: 8px;
              padding-right: 8px;
              padding-bottom: 18px;
               padding-top: 8px;
              box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
              background: white;
               margin-bottom: 1rem;
               border-radius: 8px;

          &.active {
            background: #27aee3;
            color: $light-color;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 18px;
            padding-top: 8px;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            margin-bottom: 1rem;

          }

           }

        p {
          margin-top: -8px;
          font-family: $font-productsans;
          font-size: 16px;
          }
      }
    }

    form {
      .form-control-text {
        color: $dark-gray-color;
        font-family: $font-productsans;
        font-size:18px;
        font-stretch: normal;
        background: url('../../assets/images/send.svg');
        background-repeat: no-repeat;
        width: 100%;
        background-size: 30px;
        background-position: 98%;
        border: none;
        padding: 16px;
        height: 40px;
        border-radius: 7px;
        box-shadow: 2.5px 2.5px 5px 0 rgba(0, 0, 0, 0.16);
        outline: none;
        position: relative;
        top: 1rem;
      }
    }
  }




}