.faq-support {
  .faq-support-titles {
    padding-top: 2rem;
     h3 {
       color: $dark-gray-color;
       font-family: $font-space-grotesk;
       font-size: 18px;
       font-weight: bold;
       font-stretch: normal;
       line-height: 1.27;
       letter-spacing: -0.33px;
       opacity: 0.5;
     }
    h1 {
      color: $dark-gray-color;
      font-family: $font-space-grotesk;
      font-size: 40px;
      font-weight: bold;
      font-stretch: normal;
      line-height: 1.28;
      letter-spacing: -0.6px;
    }
  }

  .faq-support-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .accordion {
     // position: absolute;

      .accordion-item {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 600px;
        border-bottom: 2px solid #ddd;
        border-radius: 1.5px;
        padding-top: 13.5px;
        transition: 0.2s ease-in;
        cursor: pointer;

        .accordion-elements {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;

          h1 {
            color: $dark-gray-color;
            font-size: 20px;
            font-family: $font-space-grotesk;
            font-stretch: normal;
            font-weight: bold;
            line-height: 1.9;
          }

          button {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }

        .accordion-body {
          cursor: default;
            p {
              color: $dark-gray-color;
              font-size: 13px;
              font-family: $font-space-grotesk;
              font-stretch: normal;
              font-weight: bold;
              line-height: 1.9;
              opacity: 0.5;
            }

        }
      }

    }
    .faq-support-picture {

       display: flex;
      justify-content: flex-end;
      width: 100%;
    }

  }

  .footer-faq-support {
    h1 {
      color: $dark-gray-color;
      font-family: $font-productsans-bold;
      font-size: 30px;
      font-stretch: normal;
    }
    p {
      color: $dark-gray-color;
      font-family: $font-space-grotesk;
      font-size: 18px;
      font-stretch: normal;
      opacity: 0.5;
      margin-bottom: 1rem;
    }

    a{
      color: $dark-gray-color;
      font-family: $font-productsans-bold;
      font-size: 25px;
      font-stretch: normal;
    }
  }

  .form-control-search {
    background: transparent;
    width: 800px;
    max-width: 100%;
    font-family: $font-space-grotesk;
    font-size: 18.9px;
    font-stretch: normal;
    font-weight: 500;
    position: relative;
    top: 2rem;
    text-transform: none;
    margin-bottom: 2rem;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 4.5px;
    outline: none;

    &:focus {
       border: solid 2px solid $dark-gray-color;
    }
  }

  .article-support-two {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: wrap;

    .accordion-support {

      @mixin get_flex-item {
        display: flex;
        align-items: center;
      }

      .accordion-support-item{
        padding-top: 25px;
        padding-bottom: 8px;
        border-bottom: 2px solid #ddd;
        width: 800px;

        .accordion-support-body {
          @include  get-flex-item;

          h1 {
            font-size: 22px;
            font-stretch: normal;
            color: $dark-gray-color;
            font-family: $font-space-grotesk;
            font-weight: bold;
            line-height: 1.9;
            letter-spacing: normal;
          }

          p {
            font-size: 18px;
            font-stretch: normal;
            color: $dark-gray-color;
            font-family: $font-space-grotesk;
            font-weight: bold;
            line-height: 1.25;
            opacity: 0.49;
            letter-spacing: normal;
          }

          a {
            text-decoration: none;
            .mdi {
              font-size: 25px;
              color: #27aee3;
            }
          }

          .accordion-support-button-alert {
            padding-right: 1rem;
            button {
              background: transparent;
              border: none;
              outline: none;
              cursor: pointer;

              .mdi {
                font-size: 25px;
                color: #27aee3;
              }
            }
          }
        }
      }
    }
  }
}