.faq-support {

  .live-chat-support-titles {
    padding-top: 2rem;

    h1 {
      color: $dark-gray-color;
      font-size: 25px;
      font-family: $font-space-grotesk;
      font-stretch: normal;
      line-height: 1.3;
      letter-spacing: -0.45px;
      opacity: 0.7;
    }
    p {
      opacity: 0.4;
      color: $dark-gray-color;
      font-size: 20px;
      font-family: $font-space-grotesk;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.35px;
      width: 645px;
    }
  }

  .live-chat-support-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;


    .live-chat-support-dropdowns {

      .live-chat-dropdown{
         width: 700px;
         padding-top: 27px;
         padding-bottom: 8px;
         border-bottom: 2px solid #ddd;

        .live-chat-flex-item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h1 {
            font-size: 20px;
            font-family: $font-space-grotesk;
            color: $dark-gray-color;
            font-weight: 600;
            line-height: 1.9;
            letter-spacing: normal;
          }
        }

        button {
          background: transparent;
          border: none;
          outline: none;
          cursor: pointer;

          .mdi {
            font-size: 30px;
            color: #000000;
          }
        }
      }
      .btn.btn-primary{
        color: $light-color;
        font-size: 17px;
        font-family: $font-productsans;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: normal;
        position: relative;
        top: 2rem;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 30px;
        box-shadow: 2px 4px 7.5px 0 rgba(0, 0, 0, 0.16);
        background-image: linear-gradient(to right, #27aee3 -4%, #0fe3f5 119%);
        border: none;
        outline: none;
        outline: none;
      }
    }
  }
}