.services__hero {
    .services-titles {
        padding-top: 3rem;
        h1 {
            font-size: 25px;
            font-family: $font-space-grotesk;
            font-stretch: normal;
            color: $dark-gray-color;
            opacity: 0.5;
            line-height: 1.27;
            letter-spacing: -0.33px;
        }
        h2 {
            font-size: 40px;
            font-family: $font-space-grotesk;
            font-stretch: normal;
            color: $dark-gray-color;
            line-height: 1.27;
            letter-spacing: -0.33px;
        }
    }

    .services-preview {
        .card-services {
            padding-top: 2rem;

            .card-services-body {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;

                &.row {
                    flex-direction: row-reverse;
                }

                h1 {
                    font-size: 51px;
                    font-family: $font-productsans-bold;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                    color: $dark-gray-color;
                    margin-bottom: 8px;
                }

                p {
                    color: $dark-gray-color;
                    width: 500px;
                    font-family: $font-space-grotesk;
                    font-stretch: normal;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.17;
                    letter-spacing: normal;
                    opacity: 0.8;
                }

                div {
                    img {
                        background: no-repeat center center /cover;
                        width: 650px;
                        min-height: 500px;
                        object-fit: cover;
                    }
                }
            }
        }
    }


}